# Copy this file to .env.local.
# Firebase public web config values.
EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyCXMU6x1UQpsLM9q11j6am6lj6zx9DtqB8
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=gojo-education.firebaseapp.com
EXPO_PUBLIC_FIREBASE_DATABASE_URL=https://gojo-education-default-rtdb.firebaseio.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=gojo-education
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=gojo-education.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=579247228743
EXPO_PUBLIC_FIREBASE_APP_ID=1:579247228743:web:09eb812cc3ee8a516f2e62
EXPO_PUBLIC_FIREBASE_MEASUREMENT_ID=G-56PT3G79T9